@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Ubuntu:wght@300&display=swap");

body {
  background-color: #f6f6f6;
}

.bg-bs {
  background-color: #f6f6f6;
}

.bg-pm {
  background-color: #ffc7c7;
}

.bg-sc {
  background-color: #ffe2e2;
}

.bg-ac {
  background-color: #8785a2;
}
